.el-form--inline{
  & .el-form-item{
    margin-right: 15px;
    margin-bottom: 10px;
  }
}
.el-cascader, .el-select{
  width: 100%;
}
.manage-td{
  & .cell>.el-button.is-link:hover, & .cell>.el-button.is-link:focus{
    color: var(--el-button-text-color)
  }
}

